@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", serif;
}

body::after {
	content: "";
	background-image: url("../images/bg-main-desktop.png");
	background-size: cover;
	width: 33.5%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
	transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
}

.body-slider::after {
	width: 100%;
}

.App {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 750px) {
	.App {
		flex-direction: column;
	}

	body::after {
		background-image: url("../images/bg-main-mobile.png");
		height: 40%;
		width: 100%;
	}

	.body-slider::after {
		height: 100%;
	}
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}